header {
    min-height: 100px;
    display: flex;
    background-color: #000;
    justify-content: space-between;
    

}





h2 {
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Josefin Sans', sans-serif;
}

.bold {
    font-weight: 400;
}

.addProduct{
    color: #805251;
}

.productSubtitle{
    color: #9A938C;
}

.price{
    color: #805251;
    font-weight: bold;
}

.productList{
    display: flex;
    flex: wrap;
    padding: 20px;
}

.productCard{
    display: flex;
    flex: wrap;
    height: 20px;
}