header {
    min-height: 100px;
    display: flex;
    background-color: #000;
    justify-content: space-between;
    

}





h2 {
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Josefin Sans', sans-serif;
}

.bold {
    font-weight: 400;
}