form{
    background-color: beige;
    width: 20em;
    padding: 1vw;
}

form > label{
    display: inline-block;
    width: 5em;
}

form > input{
    width: 15em;
    border-radius: 0.2vw;
    margin: 0.5vw;
    padding: 0.5vw;
}

form > textarea{
    width: 15em;
    border-radius: 0.2vw;
    margin: 0.5vw;
    padding: 0.5vw;
}

input[type="submit"]{
    background-color: brown;
    color: white;
    width: 10vw;
}