.highlight{
    color: #805251;
}

.subtitle{
    color: #9A938C; /* change this colour for product list? */
}

.background{
    color: #909C86;
}

.background-page{
    background-color: #909C86;
}

.highlight-page{
    background-color: #805251;
}