.productList{
    display: flex;
    flex: wrap;
    padding: 20px;
}

.trending{
    display: flex;
    flex: wrap;
    height: 20px;
}

header {
    display: flex;
    background-color: #000000;
    justify-content: flex-end;
    flex: wrap;
    flex-direction: row;
}

.logo{
    align-items: flex-start;
}