/* ----------------------------------------------------- ALL PAGES START -----------------------------------------------------*/

body{
    margin: 0px;
    padding: 0px;
}

/* ------------------------------------------------------ ALL PAGES END ------------------------------------------------------*/

/* ------------------------------------------------------- INDEX START -------------------------------------------------------*/


header{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    justify-self: flex-start;
}

.splash-image{
    width: 100%;
}

.sidebyside{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-image: url("Images/INDEX/wood_texture_small.jpeg");
    background-repeat: repeat;
}

div.sidebyside > div.one{
    grid-column: 2 / span 2;
    align-items: center;
    justify-self: center;
}

div.sidebyside > img.one{
    grid-column: 6 / span 2;
    align-items: center;
    justify-content: center;
}

div.sidebyside > div.two{
    grid-column: 6 / span 2;
    align-items: center;
    justify-content: center;
}

div.sidebyside > img.two{
    grid-column: 2 / span 2;
    align-items: center;
    justify-content: center;
}

.foodAllergies{
    width: 100%;
}

ul.index-menu{
    list-style-type: none;
    display: flex;
    flex: wrap;
    justify-content: center;
    font-size: 1.5em;
}

ul.index-menu > li > a{
    text-decoration: none;
    color: black;
    display: flex;
    flex: wrap;
    margin: 20px;
    font-weight: bolder;
}

.index-menu-text{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: flex-start;
}

div.index-menu-text > card.left{
    grid-column: 2 / span 2;
}

div.index-menu-text > card.right{
    grid-column: 5 / span 2;
}

.index-dine-in{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    width: 210px;
    height: 60px;
    text-align: center;
    font-size: 1.75em;
}

footer{
    background-color: #909C86;
    color: white;
    display: flex;
    flex: wrap;
    justify-content: space-evenly;
    align-items: center;
}

footer > table{
    border-spacing: 7px;
}

.address{
    display: block;
}

.addressLine{
    font-size: 20px;
}

/* -------------------------------------------------------- INDEX END --------------------------------------------------------*/

/* --------------------------------------------------- PRODUCT LIST START ---------------------------------------------------*/

div.trending-products{
    display: flex;
    flex: wrap;
    padding: 20px;
    min-height: 250px;
    box-shadow: 0px 5px 2px grey;
    overflow-x: scroll;
}

.trending-products::-webkit-scrollbar{
    display: none;
  }

.trending-products > figure{
    display: block;
}

.trending-products > figure > div{
    display: flex;
    flex: wrap;
}

.trending-products > figure > div > div{
    display: block;
}

.trending-products > figure > img{
    width: 200px;
    height: 200px;
}

.trending-item{
    display: flex;
    flex: wrap;
    height: 20px;
}

.all-products{
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 20px;
}

.all-products > aside{
    grid-column: 1 / span 1;
    overflow: scroll;
    background-color: #D9D9D9;
}

.all-products > aside::-webkit-scrollbar{
    display: none;
  }

.all-products > aside > button{
    width: 100%;
    height: 75px;
    margin-right: 10px;
    background-color: #D9D9D9;
    border-width: 0px;
    font-size: 1.5em;
}

.all-products > aside > button.active{
    background-color: #909C86;
}

.all-products > div{
    grid-column: 2 / span 1;
    overflow: scroll;
    padding-left: 20px;
}

.all-products > div::-webkit-scrollbar{
    display: none;
  }

.productList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.productList > card{
    width: 30vw;
}

.productList > card > img{
    width: 300px;
}

button.add{
    border-width: 0px;
    background-color: #805251;
    color: white;
    font-size: 1.3em;
    padding-top: 5px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

button > img{
    height: 0.9em;
    padding-right: 3px;
}

/* ---------------------------------------------------- PRODUCT LIST END ----------------------------------------------------*/

/* ----------------------------------------------------- CHECKOUT START -----------------------------------------------------*/

.checkout-header{
    display: grid;
    grid-template-rows: 0.5fr 0.8fr;
    box-shadow: 0px 7px 3px grey;

}

.checkout-header > div{
    justify-self: center;
    width: 60%; /* THESE WORK TOGETHER BUT ARE JANKY */
}

button.pickup{
    background-color: rgba(red, green, blue, 50%);
    width: 48.5%; /* THESE WORK TOGETHER BUT ARE JANKY */
}

button.delivery{
    width: 48.5%; /* THESE WORK TOGETHER BUT ARE JANKY */
}

.checkout-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.address-payment{
    width: 60%;
    height: 100px;
    color: white;
    border-radius: 10px;
    border-style: dashed;
    text-align: center;
    font-size: 2em;
    transform: translateX(32%); /* THIS IS JANKY */
    border-color: white;
}

.confirmationList{
    grid-column: 1 / span 2;
    display: flex;
    flex: wrap;
    flex-direction: column;
    padding: 20px;
}

.confirmationList > card{
    width: 30vw;
    display: flex;
    flex: wrap;
}

.confirmationList > card > img{
    width: 200px;
}

.confirmationList > card > div{
    width: 300px;
}

.confirmationList > card > button{
    width: 100px;
    height: 100px;
    border: 0px;
    background-color: transparent;
}

.fees-list{
    grid-column: 3 / span 1;
}

.checkout-page > div > table > tr > td:last-child{ /* DOESN'T WORK */
    text-align: right;
}

button.primary{
    width: fit-content;
    height: fit-content;
    padding: 10px 20px 10px 20px;
    background-color: #909C86;
    text-align: center;
    border: 1px solid #909C86;
    border-radius: 12px;
    font-size: large;
    color: white;
}

button.secondary{
    width: fit-content;
    height: fit-content;
    padding: 10px 20px 10px 20px;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
    font-size: large;
    color: black;
}

/* ------------------------------------------------------ CHECKOUT END ------------------------------------------------------*/

/* ---------------------------------------------------- INFORMATION START ----------------------------------------------------*/

.checkout-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

form > div.checkout-address{
    grid-column: 2 / span 2;
}

form > div.checkout-payment{
    grid-column: 5 / span 2;
}

form > div > label{
    width: 10em;
}

/* ----------------------------------------------------- INFORMATION END -----------------------------------------------------*/