.productList{
    display: flex;
    flex: wrap;
    padding: 20px;
}

.trending{
    display: flex;
    flex: wrap;
    height: 20px;
}

header {
    min-height: 100px;
    display: flex;
    background-color: #000;
    justify-content: space-between;
    

}