/* ----------------------------------------------------- ALL PAGES START -----------------------------------------------------*/

body{
    margin: 0px;
    padding: 0px;
}

img{
    object-fit: cover;
}

/* ------------------------------------------------------ ALL PAGES END ------------------------------------------------------*/

/* ------------------------------------------------------- INDEX START -------------------------------------------------------*/


header{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo{
    justify-self: flex-start;
}

header > div > button.rect{
    background-color: var(--highlight);
    color: white;
    font-size: 22px;
    border-radius: 5px;
    border-width: 0px;
    height: 50px;
    width: 100px;
    transform: translateY(-35%);
}

.rect:hover{
    background-color: var(--highlight-active);
}

@media screen and (max-width: 500px){
    .rect{
        display: none;
    }
}

header > div > button.square{
    width: 60px;
    height: 60px;
    background: transparent;
    border: none;
}

header > div > button.square_small{
    width: 40px;
    height: 60px;
    background: black;
    border: none;
}

header > div > button.square > img{
    width: 100%;
    height: 83%; /* why does this have to be janky */
}

.toggler{
    position: fixed;
    z-index:10;
    right: 20px;
    top: 8px;
    height: 50px;
    width: 50px;
    top: 15px;
    cursor: pointer;
    opacity: 0;
}

.hamburger{
    z-index: 5;
    position: fixed;
    right: 10px;
    top: 8px;
    height: 40px;
    width: 40px;
    padding: 0.6rem;
    display:flex;
    align-items: center;
}

.hamburger-holder{
    z-index: 3;
    background:black;
    position: fixed;
    right: 22px;
    top: 28px;
    height: 50px;
    width: 50px;
}

.hamburger > div{
    position: relative;
    top: 15px;
    background: white;
    height: 2px;
    width: 60%;
    transition: all  0.4s ease;
}

.hamburger > div::before, .hamburger > div::after{
    content: '';
    position: absolute;
    top: -10px;
    background: white;
    width: 100%;
    height: 2px;
    transition: all  0.4s ease;
}

.hamburger > div::after{
    z-index: 10;
    top: 10px;
}

.toggler:checked + .hamburger > div{
    z-index:10 ;
    background: rgba(0,0,0,0);
}

.toggler:checked + .hamburger > div::before{
    top: 0;
    z-index: 10;
    transform: rotate(45deg);
    background: #909c86;
}

.toggler:checked + .hamburger > div::after{
    z-index: 10;
    top: 0;
    transform: rotate(135deg);
    background: #909c86;
}

.menu{
    z-index: 1;
    background: black;
    top:0;
    width: 0%;
    height: 100%;
    transition: all 0.4s ease;
    position: fixed;
    right:0px;
}

.toggler:checked ~ .menu{
    width: 300px;
}

.menu >  div > ul{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 180px;
    padding-left: 10px;    
    visibility: hidden;
}

.menu > div > ul > li{
    list-style: none;
    padding: 1rem;
}

.menu > div > ul > li > a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 40px;
    line-height: 40px;
}

.toggler:checked ~ .menu > div > ul{
    transition: visibility 0.4s ease;
    transition-delay: 0.1s;
    visibility: visible;
}

.toggler:checked ~ .menu > div > ul > li > a:hover{
    color: #909c86;
}

.splash-image{
    width: 100%;
}

.sidebyside{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-image: url("Images/INDEX/wood_texture_small.jpeg");
    background-repeat: repeat;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.sidebyside > div.one{
    grid-column: 2 / span 2;
    align-items: center;
    justify-self: center;
}

div.sidebyside > img.one{
    grid-column: 6 / span 2;
    margin-top: auto;
    margin-bottom: auto;
}

div.sidebyside > div.two{
    grid-column: 6 / span 2;
    align-items: center;
    justify-content: center;
}

div.sidebyside > img.two{
    grid-column: 2 / span 2;
    margin-top: auto;
    margin-bottom: auto;
}

@media screen and (max-width: 1100px){
    div.sidebyside > img{
        display: none;
    }

    div.sidebyside > div.one, div.sidebyside > div.two{
        grid-column: 3 / span 4;
    }
}

.food-allergies{
    width: 100%;
}

ul.index-menu{
    list-style-type: none;
    display: flex;
    flex: wrap;
    justify-content: center;
    font-size: 25px;
}

ul.index-menu > li > a{
    text-decoration: none;
    color: black;
    display: flex;
    flex: wrap;
    margin: 20px;
    font-weight: 500;
}

.index-menu-text{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

div.index-menu-text > div.left{
    grid-column: 2 / span 2;
}

div.index-menu-text > div.right{
    grid-column: 5 / span 2;
}

.index-dine-in{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    width: 210px;
    height: 60px;
    text-align: center;
    font-size: 30px;
}

footer{
    background-color: var(--background);
    color: white;
    display: flex;
    flex: wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
}

@media screen and (max-width: 900px){
    footer{
        display: block;
        padding-left: 20px;
    }

    footer > table{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}

footer > table{
    border-spacing: 40px 5px;
}

.address{
    display: block;
}

.address-line{
    font-size: 20px;
    text-align: center;
    margin: 0px;
}

footer > div > p{
    text-align: center;
}

footer > img{
    width: 330px;
    height: 135px;
}

/* -------------------------------------------------------- INDEX END --------------------------------------------------------*/

/* --------------------------------------------------- PRODUCT LIST START ---------------------------------------------------*/

div.trending-overall{
    margin-top: 0px;
    background: var(--background);
}

.trending-overall > p{
    padding-left: 60px;
    padding-top: 15px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

div.trending-products{
    display: flex;
    flex: wrap;
    padding: 0px 20px 20px 20px;
    min-height: 250px;
    box-shadow: 0px 5px 2px grey;
    overflow-x: scroll;
    z-index: 100; /* THIS IS NOT WORKING */
}

.trending-products::-webkit-scrollbar{
    display: none;
}

.trending-products > figure{
    display: block;
}

.trending-products > figure > img{
    height: 200px;
    margin-bottom: 0px;
    border-radius: 10px;
    width: 250px;
}

.trending-products > figure > div{
    display: flex;
    flex: wrap;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: -20px;
    padding-top: 25px;
    padding-left: 5px;
    height: 70px;
    width: 250px;
}

.trending-products > figure > div > div{
    display: block;
    padding: 5px 0px 0px 0px;
}

.trending-products > figure > div > button{
    width: 100px;
    margin-right: 5px;
}

.all-products{
    display: grid;
    grid-template-columns: 200px 1fr;
}

.all-products > aside{
    grid-column: 1 / span 1;
    overflow: scroll;
    background-color: var(--grey);
}

.all-products > aside::-webkit-scrollbar{
    display: none;
  }

.all-products > aside > button{
    width: 100%;
    height: 75px;
    margin-right: 10px;
    background-color: var(--grey);
    border-width: 0px;
    font-size: 25px;
    color: black;
    text-align: center;
}

.all-products > aside > button.active{
    background-color: var(--background);
}

.all-products > aside > button:hover{
    background-color: var(--grey-active);
}

.all-products > div{
    grid-column: 2;
    overflow: scroll;
    padding-top: 20px;
}

.all-products > div::-webkit-scrollbar{
    display: none;
  }

.product-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.product-list > card{
    width: 25vw;
    display: flex;
    flex: wrap;
}

.product-list > card > img{
    width: 175px;
    height: 175px;
    margin: 5px 20px 0px 20px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .1);
    border-radius: 20px;
}

.product-list > card > div{
    display: block;
}

.product-list > card > div > div{
    height: 120px;
}

.product-list > card > div > div > h2{
    margin-bottom: 10px;
}

.product-list > card > div > div > p{
    margin: 0px;
    font-size: 16px;
}

.product-list > card > div > div > p + p{
    margin-bottom: 10px;
}

button.add{
    border-width: 0px;
    background-color: var(--highlight);
    color: white;
    font-size: 20px;
    padding-top: 5px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

.add:hover{
    background-color: var(--highlight-active);
}

.add-img{
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

.product-list > card > div > button > span.big-button{
    display: block;
}

.product-list > card > div > button > span.small-button{
    display: none;
}

.floating-buttons{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 5;
    width: 90%;
    align-items: flex-end;
    bottom: 10px;
    right: 25px;
    margin: 0px;
}

.floating-buttons > button{
    background-color: var(--highlight);
    border-radius: 50px;
    width: 51px;
    height: 51px;
    border-width: 0px;
    margin-bottom: 5px;
}

.floating-buttons > button:hover{
    background-color: var(--highlight-active);
}

.floating-buttons > button > img{
    width: 40px;
    height: 50px;
    margin: 0px;
    margin-right: 100px;
}

@media screen and (max-width: 1275px){
    .product-list{
        grid-template-columns: 1fr 1fr;
    }

    .product-list > card{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 950px){
    .product-list > card{
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .product-list > card > img{
        height: 100px;
        width: 100px;
        margin: 0px 15px;
        padding-top: 15px;
    }

    .product-list > card > div{
        display: flex;
    }

    .product-list > card > div > div{
        width: 100px;
        height: 75px;
    }

    .product-list > card > div > div > h2{
        font-size: 20px;
        margin: 10px 0px;
    }

    .product-list > card > div > div > p{
        font-size: 15px;
        line-height: 150%;
    }

    .product-list > card > div > button > span.big-button{
        display: none;
    }

    .product-list > card > div > button > span.small-button{
        display: block;
    }

    .product-list > card > div > button > span > img{
        height: 10px;
        width: 10px;
    }

    .product-list > card > div > button.add{
        font-size: 20px;
        height: 30px;
        width: 30px;
        border-radius: 30px;
        padding-bottom: 15px;
        padding-left: 5px;
        margin-top: 25px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 750px){
    .trending-overall{
        height: 210px;
    }

    .trending-overall > p{
        font-size: 25px;
        padding-top: 5px;
        padding-left: 30px;
        margin-bottom: 0px;
    }

    div.trending-products{
        box-shadow: none;
    }

    .trending-products > figure{
        height: 200px;
        margin-left: 0px;
        margin-top: 0px;
        padding-left: 10px;
        margin-right: 0px;
    }

    .trending-products > figure > img{
        height: 100px;
        width: 125px;
    }

    .trending-products > figure > div{
        height: 50px;
        width: 125px;
    }

    .trending-products > figure > div > button > img{
        height: 10px;
        width: 10px;
    }

    .trending-products > figure > div > button.add{
        font-size: 11px;
        height: 20px;
        width: 50px;
        padding-bottom: 5px;
    }

    .trending-products > figure > div > div > figcaption{
        font-size: 8px;
        padding-bottom: 4px;
        margin-top: -3px;
    }

    .all-products{
        display: grid;
        grid-template-columns: 100px 1fr;
    }

    .all-products > aside > button{
        font-size: 18px;
    }
    
    .product-list{
        grid-template-columns: 1fr;
    }
}

.indiv-product{
    display: flex;
    width: 50vw;
    height: 65vh;
    border-width: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px grey;
    z-index: 9999;
    position: fixed;
    left: 25%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

.indiv-product > img{
    height: 65vh;
    width: 25vw;
}

div.indiv-info{
    width: 25vw;
    background-color: var(--background);
    overflow: auto;
}

.indiv-info > div{
    display: grid;
    grid-template-columns: 1fr 100px 50px;
    grid-template-rows: 50px 1fr 50px;
    height: 90%;
    margin-left: 50px;
    padding: 0px 10px;
}

.exit-indiv{
    grid-column: 3;
    background-color: var(--grey);
    border-width: 0px;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.exit-indiv:hover{
    background-color: var(--grey-active);
}

.exit-indiv > img{
    width: 40px;
    height: 40px;
    padding-right: 10px;
    padding-bottom: 3px;
    box-sizing: border-box;
}

.indiv-info > div > div{
    grid-row: 2;
}

.indiv-title{
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
    grid-column: 1;
}

.indiv-info > div > div > p{
    margin-top: 5px;
    margin-bottom: 10px;
    grid-column: 1;
}

.indiv-info > div > div > form{
    grid-column: 1;
}

.indiv-info > div > div > form > div > label{
    color: white;
}

.indiv-info > div > div > form > div > select{
    border-color: var(--highlight);
    color: var(--highlight);
    border-radius: 5px;
    height: 2em;
    padding: auto;
    box-shadow: 0px 5px 5px grey;
    margin-top: 3px;
}

.indiv-add{
    grid-row: 3;
    grid-column: 2 / span 2;
}

@media screen and (max-width: 1375px){
    .indiv-info > div{
        margin-left: 25px;
    }
}

@media screen and (max-width: 1275px){ /* FIX THIS ONE */
    .indiv-info{
        width: 30vw;
    }

    .indiv-product > img{
        width: 30vw;
    }
}

@media screen and (max-width: 950px){
    .indiv-product{
        display: block;
        overflow: auto;
        height: 80vh;
        width: 50vw;
        padding: 0px;
        min-width: 350px;
    }

    .indiv-product::-webkit-scrollbar{
        display: none;
    }

    .indiv-product > img{
        width: 100%;
        height: 35vh;
        margin-bottom: 0px;
    }

    .indiv-info{
        width: 100% !important; /* FIX THIS */
        min-height: 55vh;
        padding-bottom: 20px;
    }
    
    .indiv-info > div{
        grid-template-rows: 20px 1fr 20px;
        grid-template-columns: 1fr 1fr;
        margin-left: 50px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .exit-indiv{
        display: none;
    }
}

/* ---------------------------------------------------- PRODUCT LIST END ----------------------------------------------------*/

/* ----------------------------------------------------- CHECKOUT START -----------------------------------------------------*/

.checkout-header{
    display: grid;
    grid-template-rows: 0.5fr 0.8fr;
    box-shadow: 0px 7px 3px grey;
    background-color: var(--highlight);
}

.checkout-header > div{
    justify-self: center;
    width: 60%; /* THESE WORK TOGETHER BUT ARE JANKY */
}

button.pickup-delivery{
    background-color: var(--white);
    width: 48.5%; /* THESE WORK TOGETHER BUT ARE JANKY */
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    height: 50px;
    border-width: 0px;
    border-radius: 5px;
}

.pickup-delivery:hover{
    background-color: var(--white-active);
}

.checkout-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#address-payment{
    width: 60%;
    height: 100px;
    background-color: var(--highlight);
    color: var(--highlight);
    margin-bottom: 20px;
    color: white;
    border-radius: 10px;
    border-style: dashed;
    text-align: center;
    font-size: 35px;
    transform: translateX(32%); /* THIS IS JANKY */
    border-color: white;
}

#address-payment:hover{
    background-color: var(--highlight-active);
}

#checkout-overall{
    background-color: white;
    border-width: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px grey;
    color: black;
    height: 85vh;
    width: 80vw;
    display: none;
    z-index: 9999;
    position: fixed;
    left: 10%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
    overflow: auto;
}

.exit-info{
    grid-column: 6;
    margin-top: 10px;
    background-color: var(--grey);
    border-width: 0px;
    border-radius: 30px;
    width: 50px;
    height: 50px;
}

.exit-info:hover{
    background-color: var(--grey-active);
}

.exit-info > img{
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    padding-right: 7px;
}

.checkout-info{
    display: grid;
    grid-template-columns: 3fr 6fr 3fr 6fr 1fr 1fr 1fr;
    padding-top: 10px;
}

.checkout-address{
    grid-column: 2;
    width: 100%;
}

input{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    border-width: 0px;
    font-size: large;
    background-color: var(--grey);
}

input:focus{
    background-color: var(--grey-active);
}

.checkout-payment{
    grid-column: 4;
    width: 100%;
}

.confirmation-list{
    grid-column: 1 / span 2;
    display: flex;
    flex: wrap;
    flex-direction: column;
    padding: 20px;
}

.confirmation-list > card{
    width: 35vw;
    display: flex;
    flex: wrap;
}

.confirmation-list > card > img{
    width: 200px;
}

.confirmation-list > card > div{
    width: 300px;
}

.confirmation-list > card > button{
    width: 25px;
    height: 25px;
    border: 0px;
    background-color: transparent;
    margin-top: 15px;
}

.confirmation-list > card > button > img{
    width: 25px;
    height: 25px;
}

.fees-list{
    grid-column: 3 / span 1;
    padding-top: 20px;
}

.fee-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.checkout-page > div > table > tr > td:last-child{ /* DOESN'T WORK */
    text-align: right;
}

.fees{
    width: 300px;
    margin-left: 0px;
}

button.primary{
    width: fit-content;
    height: fit-content;
    padding: 10px 20px 10px 20px;
    background-color: var(--background);
    text-align: center;
    border: 1px solid var(--background);
    border-radius: 12px;
    font-size: large;
    color: white;
}

button.primary:hover{
    background-color: var(--background-active);
}

button.secondary{
    width: fit-content;
    height: fit-content;
    padding: 10px 20px 10px 20px;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
    font-size: large;
    color: black;
}

button.secondary:hover{
    background-color: var(--white-active);
}

@media screen and (max-width: 1025px){
    .confirmation-list > card{
        width: 50vw;
    }
}

@media screen and (max-width: 925px){
    .fees-list > button{
        font-size: 0.9em;
    }
}

@media screen and (max-width: 750px){
    .confirmation-list > card{
        width: 100%;
    }
    
    .checkout-page{
        display: block;
    }

    .fees-list{
        margin-left: 75px;
    }
}

/* ------------------------------------------------------ CHECKOUT END ------------------------------------------------------*/