@import "colours.css";
@import "layout.css";
@import "spacing.css";
@import "typography.css";


holdingPlates{
    position: relative;
    width: 1069px;
    height: 1478px;
    left: -37px;
    top: 1564px;

    background: url(azimut-bo73-h.jpg);
    transform: rotate(-90deg);
}


