@import "colours.css";
@import "layout.css";
@import "spacing.css";
@import "typography.css";


holdingPlates{
    position: relative;
    width: 1069px;
    height: 1478px;
    left: -37px;
    top: 1564px;

    background: url(azimut-bo73-h.jpg);
    transform: rotate(-90deg);
}

.hamburgermenu{
    margin: 0;
    right:25px;
    padding: 0;
    background: #333;
    height: 100vh;
    width: 100vw;
    position:absolute;
}

.toggler{
      position: fixed;
      z-index:10;
      right: 20px;
      top: 8px;
      height: 50px;
      width: 50px;
      top: 15px;
      cursor: pointer;
      opacity: 0;
  }
  
  .hamburger{
      z-index: 5;
      position: fixed;
      right: 20px;
      top: 8px;
      height: 40px;
      width: 40px;
      padding: 0.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      background-size: ;
  }
  
  .hamburger > div{
      position: relative;
      top: 15px;
      background: white;
      height: 2px;
      width: 60%;
      transition: all  0.4s ease;
  }
  
  
  .hamburger > div::before,
  .hamburger > div::after{
      content: '';
      position: absolute;
      top: -10px;
      background: white;
      width: 100%;
      height: 2px;
      transition: all  0.4s ease;
  }
  
  .hamburger > div::after{
      z-index: 10;
      top: 10px;
  }
  
  .toggler:checked + .hamburger > div{
      z-index:10 ;
      background: rgba(0,0,0,0);
  }
  
  .toggler:checked + .hamburger > div::before{
      top: 0;
      z-index: 10;
      transform: rotate(45deg);
      background: #909c86;
  }
  
  .toggler:checked + .hamburger > div::after{
      z-index: 10;
      top: 0;
      transform: rotate(135deg);
      background: #909c86;
  }
  
  
  .menu{
      z-index: 1;
      background: black;
      top:0;
      width: 0%;
      height: 100%;
      transition: all 0.4s ease;
      position: fixed;
      right:0px;
  }
  
  
  .toggler:checked ~ .menu{
      width: 300px;
  }
  
  
  .menu >  div > ul{
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 180px;
      padding-left: 10px;    
      visibility: hidden;
  }
  
  .menu > div > ul > li{
      list-style: none;
      padding: 1rem;
  }
  
  .menu > div > ul > li > a{
      color: white;
      text-decoration: none;
      font-size: 2rem;
      font-family: 'Josefin Sans', sans-serif;
      font-style: normal;
      font-weight: 450;
      font-size: 40px;
      line-height: 40px;
  }
  
  
  .toggler:checked ~ .menu > div > ul{
      transition: visibility 0.4s ease;
      transition-delay: 0.1s;
      visibility: visible;
  }
  
  .toggler:checked ~ .menu > div > ul > li > a:hover{
      color: #909c86;
  }




