<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Playfair+Display:wght@500&display=swap');

.title {
=======
h2 {
>>>>>>> 90c4d771f124c597cbc269aaad94fead9b293371
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Josefin Sans', sans-serif;
}

.bold {
    font-weight: 400;
}




