@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Playfair+Display:wght@500&display=swap');

.title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 55px;
    text-align: flex;


}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    text-align: flex;
}

.bold {
    font-weight: 400;
}